<%= form_for(card) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :kind_id %>
    <%= f.number_field :kind_id %>
  </div>

  <div class="field">
    <%= f.label :civilization_id %>
    <%= f.number_field :civilization_id %>
  </div>

  <div class="field">
    <%= f.label :cost %>
    <%= f.number_field :cost %>
  </div>

  <div class="field">
    <%= f.label :race_id %>
    <%= f.number_field :race_id %>
  </div>

  <div class="field">
    <%= f.label :power_id %>
    <%= f.number_field :power_id %>
  </div>

  <div class="field">
    <%= f.label :rarity_id %>
    <%= f.number_field :rarity_id %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_area :url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
