<%- model_class = Card -%>
<div class="page-header">
  <h1>DMカード検索</h1>
</div>


<%= search_form_for @q do |f| %>

  <%# start カード名or検索 %>
  <%= f.label :name_cont_any, "カード名" %>
  <%= f.search_field :name_cont_any %>
  <br />

  <%# 種類部分一致検索 %>
  <%= f.label :kind_name_cont, "種類" %>

  <%= f.collection_select :kind_name_cont, Kind.all, :name, :name, include_blank: true %>
  <br />
  
  <%# 文明部分一致検索 %>
  <%= f.label :civilization_name_cont, "文明" %>
  <%= f.collection_select :civilization_name_cont, Civilization.all, :name, :name, include_blank: true %>

  <br />

  <%# コスト下限 %>
  <%= f.label :cost_gt, "コスト(以上)" %>
  <%= f.search_field :cost_gt %>
  <br />
  
  <%# コスト上限 %>
  <%= f.label :cost_lt, "コスト(以下)" %>
  <%= f.search_field :cost_lt %>
  <br />
  
  <%# 種族部分一致検索 %>
  <%= f.label :race_name_cont, "種族" %>
  <%= f.collection_select :race_name_cont, Race.all, :name, :name, include_blank: true %>

  <br />
  
    <%# パワー下限 %>
  <%= f.label :power_value_gt, "パワー(以上)" %>
  <%= f.search_field :power_value_gt %>
  <br />
  
  <%# パワー上限 %>
  <%= f.label :power_value_lt, "パワー(以下)" %>
  <%= f.search_field :power_value_lt %>
  <br />
  
  <%# レアリティ部分一致検索 %>
  <%= f.label :rarity_name_cont, "レアリティ" %>
  <%= f.collection_select :rarity_name_cont, Rarity.all, :name, :name, include_blank: true %>

  <br />


  <%# 検索ボタン %>
  <%= f.submit %>
<% end %>


<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "名前") %></th>
      <th><%= sort_link(@q, :kind_name, "種類") %></th>
      <th><%= sort_link(@q, :civilization_name, "文明") %></th>
      <th><%= sort_link(@q, :cost, "コスト") %></th>
      <th><%= sort_link(@q, :race_name, "種族") %></th>
      <th><%= sort_link(@q, :power_value, "パワー") %></th>
      <th><%= sort_link(@q, :rarity_name, "レアリティ") %></th>
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    
    <% @cards.each do |card| %>
      <tr>
        <td><%= link_to card.name, card %></td>
        <td><%= card.kind.name %></td>
        <td><%= card.civilization.name %></td>
        <td><%= card.cost %></td>
        <% if card.race.present? %>
          <td><%= card.race.name %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if card.power.present? %>
          <td><%= card.power.value %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= card.rarity.name %></td>
        <td><%= link_to "Wiki", card.url %></td>
      </tr>
    <% end %>

  </tbody>
</table>
