<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Civilization</th>
      <th>Cost</th>
      <th>Race</th>
      <th>Power</th>
      <th>Rarity</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.kind.name %></td>
        <td><%= card.civilization.name %></td>
        <td><%= card.cost %></td>
        <% if card.race.present? %>
          <td><%= card.race.name %></td>
        <% else %>
          <td></td>
        <% end %>
        <% if card.power.present? %>
          <td><%= card.power.value %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= card.rarity.name %></td>
        <td><%= link_to "Wiki", card.url %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
