<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>種類:</strong>
  <%= @card.kind.name %>
</p>

<p>
  <strong>文明:</strong>
  <%= @card.civilization.name %>
</p>

<p>
  <strong>コスト:</strong>
  <%= @card.cost %>
</p>

<p>
  <strong>種族:</strong>
  <%= @card.race.name %>
</p>

<p>
  <strong>パワー:</strong>
  <%= @card.power.value %>
</p>

<p>
  <strong>レアリティ:</strong>
  <%= @card.rarity.name %>
</p>

<p>
  <strong>Wiki:</strong>
  <%= link_to @card.url, @card.url %>
</p>

<%= link_to 'Back', cards_path %>
